 {
 self.myScoreSheetClassId = my.ScoreSheetClassId 
self.mySurname = my.Surname 
self.myMiddlename = my.Middlename 
self.myFirstname = my.Firstname 
self.myStudentId = my.StudentId 
self.myAsessionId = my.AsessionId 
self.mySemesterId = my.SemesterId 
self.myCourseId = my.CourseId 
self.myAsetId = my.AsetId 
self.myLevelToDo = my.LevelToDo 
self.myCourseUnit = my.CourseUnit 
self.myCourseNature = my.CourseNature 
self.myCourseState = my.CourseState 
self.myScore = my.Score 
self.myAUserId = my.AUserId 
self.mydonedate = my.donedate 
self.myReadOnly = my.ReadOnly 
self.myModified = my.Modified 
self.myName = my.Name 

}

  self.self.myDetailResultId = my.self.myDetailResultId 